#Exclude all
*
!*/
!.gitignore
###########################################################################
#Do NOT ignore VHDL, Verilog, block diagrams or EDIF files.
!*.vhd
!*.v
!*.bd
!*.edif
#########
#Do NOT ignore *.xdc files
!*.xdc
#########
#Reports
#########
#!*.rpt
#!*.txt
#!*.vdi
!*.md
!*.pdf
#########
#C-files
#########
#!*.c
#!*.h
#!*.elf
#!*.bmm
#!*.xmp
